<%
data = []
names_array = []
chart_url = ""
min = 0
max = 0
@chart_data.sort.each { |k,values|
	next if k == 0
	next if values == nil
	if(params['debug'])
        	%><li>M: <%=k%> $<%=values%></li> <%
	end
	if (values < min)
		min = values
	end
	if (values > max)
		max = values
	end
	data.push(values)
	names_array.push(k)
        }
GoogleChart::BarChart.new('400x200', @chart_name,:vertical, false) do |bc|
      	bc.data "", data, '0000ff'
	bc.show_legend = false
	bc.width_spacing_options(:bar_width => 10)
	bc.axis :y, :range => [min.to_i,max.to_i], :color => 'B20000', :font_size => 10, :alignment => :center
	#bc.axis :y, :labels => names_array,:color => 'ff00ff', :font_size => 10, :alignment => :center
      	bc.axis :x, :range => [1,@months], :color => 'B20000', :font_size => 10, :alignment => :center
        chart_url = bc.to_url
        end
%><img src=<%=chart_url%>>
