<div class=Section1>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=1177
 style='width:882.75pt;margin-left:-1.15pt;border-collapse:collapse;border:
 none'>
 <tr style='height:15.75pt'>

  <td width=1177 nowrap colspan=12 valign=bottom style='width:882.75pt;
  border:solid windowtext 1.0pt;border-bottom:none;padding:0in 5.4pt 0in 5.4pt;
  height:15.75pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Estrangelo Edessa";color:black'>Configurations</span></b></p>
  </td>
 </tr>
 <tr style='height:15.0pt'>
  <td width=1177 nowrap colspan=12 valign=bottom style='width:882.75pt;
  border-top:none;border-left:solid windowtext 1.0pt;border-bottom:none;
  border-right:solid windowtext 1.0pt;background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;
  height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>

 </tr>
 <tr style='height:23.35pt'>
  <td width=35 nowrap valign=top style='width:26.55pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Min</span></p>
  </td>
  <td width=37 nowrap valign=top style='width:28.05pt;border:none;border-right:
  solid windowtext 1.0pt;background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;
  height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Max</span></p>
  </td>

  <td width=93 nowrap valign=top style='width:69.95pt;border:none;border-right:
  solid windowtext 1.0pt;background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;
  height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Instance Type</span></p>
  </td>
  <td width=88 nowrap valign=top style='width:65.8pt;border:none;border-right:
  solid windowtext 1.0pt;background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;
  height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>On Demand Rate</span></p>
  </td>
  <td width=107 nowrap valign=top style='width:80.4pt;border:none;border-right:
  solid windowtext 1.0pt;background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;
  height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Reserve Instance Rate</span></p>

  </td>
  <td width=150 nowrap valign=top style='width:112.5pt;border:none;border-right:
  solid windowtext 1.0pt;background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;
  height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Instance Hours per Week</span></p>
  </td>
  <td width=108 valign=top style='width:81.0pt;border:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Peak On Demand Monthly </span></p>
  </td>
  <td width=108 valign=top style='width:81.0pt;border:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>

  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>On Demand Total</span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Peak Optimal Reserved Instances</span></p>
  </td>
  <td width=96 valign=top style='width:1.0in;border:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Reserved Instance Install</span></p>

  </td>
  <td width=114 valign=top style='width:85.5pt;border:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Reserved Instance Total 1 Year</span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;height:23.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:10.0pt;font-family:"Estrangelo Edessa";
  color:black'>Reserved Instance Total 3 Year</span></p>
  </td>
 </tr>
<%
@estimate.configs.each do |name,@config|
        %>
        <%= partial("detail_row") %>
        <%
end
%>
 <tr style='height:15.0pt'>
  <td width=1177 nowrap colspan=12 valign=bottom style='width:882.75pt;
  border-top:none;border-left:solid windowtext 1.0pt;border-bottom:none;
  border-right:solid windowtext 1.0pt;background:#D9D9D9;padding:0in 5.4pt 0in 5.4pt;
  height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>Totals</span></p>

  </td>
 </tr>
 <tr style='height:15.0pt'>
  <td width=35 nowrap valign=bottom style='width:26.55pt;border:solid windowtext 1.0pt;
  border-top:none;background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'></td>
  <td width=37 valign=bottom style='width:28.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=93 valign=bottom style='width:69.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>

  </td>
  <td width=88 valign=bottom style='width:65.8pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=107 valign=bottom style='width:80.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=150 valign=bottom style='width:112.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>

  </td>
  <td width=108 valign=bottom style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=108 valign=bottom style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=120 valign=bottom style='width:1.25in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>

  </td>
  <td width=96 valign=bottom style='width:1.0in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=114 valign=bottom style='width:85.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>
  </td>
  <td width=120 valign=bottom style='width:1.25in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'>&nbsp;</span></p>

  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-family:"Arial Black","sans-serif"'>&nbsp;</span></p>

</div>

