<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title> Estimator</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" type="text/css" href="/js.css" />
<script type="text/javascript" src="/javascript/jquery.idTabs.min.js"></script>
<!-- <script type="text/javascript" src="/javascript/jquery.js"></script> -->
<script type="text/javascript">
$(document).ready(function()
{
  //hide the all of the element with class msg_body
  $(".msg_body").hide();
  //toggle the componenet with class msg_body
  $(".msg_head").click(function()
  {
    $(this).next(".msg_body").slideToggle(60);
  });
});
</script>
</head>
<body>
<h1>Dynamic Scaling Estimator</h1>
<table>
<tr>
<th>Welcome: <%= cookies[:user_name] %></th>
<%
if (cookies[:user_name] == nil || params['user_name'] == nil)
        #redirect("/priz/login")
	puts "REDIRECT"
end

if (@estimate_name != nil || params['estimate'] != nil)
        %>
        <th>Working on Estimate: <a href=/configs/show_daily_price><%= @estimate_name %></a></th>
        <%
end
%>
<tr>
<th><a href=/>Home</a></th><th><a href=/estimate>New Estimate</a></th>
<th><a href=/priz/logout>Logout</a></th>
</tr>
</table>
