<div id="navcontainer">
<ul id="navlist" class="idTabs">
<li><a href="#totals">Totals</a></li>
<li><a href="#Section1">Details</a></li>
<%
for month in 1..@months.to_i
        %><li><a href="#<%=month%>">Month: <%=month%></a></li><%
end
%>
</ul>
</div>
