<form action=/configs/show_daily_price method=post>
Months to estimate: <%= @months %><br />
Month 1 Utilization: <input type=text size=3 name=month_start_percentage value=<%= @month_start_percentage %>><br />
Monthly Growth Rate: <input type=text size=3 name=month_growth_percentage value=<%= @month_growth_percentage %>><br />
<input type=submit value="Update Monthly Parameters">
</form>
