<%= partial( "header" ) %>
Edit Daily Model 
<hr />
<form action=/configs/update_daily_model method=post>
<table border=1 padding=1>
<tr>
<th>Hour of the Day</th><th>Usage % per Hour</th>
</tr>
<%
hours = []
usages = []
h = YAML::load(@dm.yaml)
h.sort.each { |hour,usage| 
	#puts "VALUE #{value} #{@daily_model[key]}"
	%>
	<td><%=hour%></td>
	<td><input type=text size=3 name=<%= "usage-#{hour}" %> value=<%=usage%>></td>
	</tr>
	<%
	}
%>
</table>
<input type=submit>
</form>
