Edit Daily Model 
<%= @daily_model.type %>
<hr />
<form action=/configs/update_daily_model method=post>
<table border=1 padding=1>
<tr>
<th>Hour of the Day</th><th>Usage % per Hour</th>
</tr>
<%
hours = []
usages = []
@daily_model.sort.each { |key,value| 
	next if key == "timezone"
	puts "VALUE #{value} #{@daily_model[key]}"
	%>
	<td><%=key%></td>
	<td><input type=text size=3 name=<%= "usage-#{key}" %> value=<%=value%>></td>
	</tr>
	<%
	}
%>
</table>
<input type=submit>
</form>
