<%= partial( "header" ) %>
<h2>Create New Estimate</h2>
<hr />
<form action=/estimate/create method=post>
Customer Name<input type=text name=customer_name>
Your Name<input type=text name=user_name value=<%=@user_name%>>
Quote Name<input type=text name=quote_name>
Months to Ramp Project<input type=text name=months value=12>
<input type=submit name=go>
</form>
