Create New Estimate
<hr />
<form action=/estimate/create method=post>
Customer Name<input type=text name=customer_name>
Your Name<input type=text name=user_name value=<%=@user_name%>>
Quote Name<input type=text name=quote_name>
<input type=submit name=go>
</form>
