<%= partial( "header" ) %>
<hr>
<br>
<%
for e in @estimates
	#estimate_name = e.name
	%><a href=/configs/show_estimate?estimate=<%= e.name %>><%= e.name %> ... 
	<a href=/?delete=<%=e.id%>>Delete</a>
	<br></a><%
	end
%>
