Welcome: <%= @user_name %><br>
Working on Estimate: <%= @index_name %><br>
<a href=/new_config>Add a New Config</a>
<br />
<a href=/daily_model>Edit Daily Model</a>
<br />
<a href=/estimate>Start a new Estimate</a>
<br />
<a href=/new_config/show_daily_price>Show pricing for current Estimate</a>
