Welcome: <%= @user_name %><br>
Working on Estimate: <%= @index_name %><br>
<br />
<a href=/daily_model>View Default Daily Model</a>
<br />
<a href=/estimate>Start a new Estimate</a>
<br />
<a href=/configs/show_daily_price>Show pricing for current Estimate</a>
<hr>
<br>
<%

for key in @estimates
	estimate_name = key.to_s
	%><a href=/configs/show_daily_price?estimate=<%= estimate_name %>><%= estimate_name %><br></a><%
end

%>
