<%= partial( "header" ) %>
<hr>
<br>
<div id="leftcolumn">
</div>
<div id="content">
<%
for e in @estimates
	#estimate_name = e.name
	%><a href='/configs/show_estimate/<%= e.id %>'><%= e.name %> ... 
	<a href=/?delete=<%=e.id%>>Delete</a>
	<br></a><%
	end
%>
</div>
</div>
