<%= partial( "header" ) %>

<h2>Dynamic Costs for Configuration</h2>
<table spacing=20>
<tr>
<td>
<a href=/configs/edit_daily>Edit Weekday Usage Model</a><br />
<a href=/configs>Add Instance Configuration</a><br />
</td>
<td>
<%= partial("monthly_config") %>
</td>
</tr>
</table>
