#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.msg_list {
margin: 0px;
padding: 0px;
width: 383px;
}
.msg_head {
padding: 5px 10px;
cursor: pointer;
position: relative;
background-color:#b0c4de;
margin:1px;
}
.msg_body {
padding: 5px 10px 15px;
background-color:#F4F4F8;
}
.ex {color:rgb(0,0,255)}
/*

      Created by CSS Portal Layout Generator

	  

	  http://www.cssportal.com

	  	  

*/
body {
    margin:9px 9px 0 9px;
    padding:0;
    background:#FFF;
}
#wrapper { 

 margin: 0 auto;

 width: 100%;

}



#content { 

 float: right;

 color: #333;

 background: #FFFFFF;

 height: 900px;

 width: 80%;

 display: inline;

}

.padded table td {
	padding-left: 50px;
	}

#header {

 color: #333;

 width: 100%;

 float: left;

 height: 150px;

 background: #FFFFFF;

}

#leftcolumn { 

 color: #333;

 background: #EBE3CD;

 height: 900px;

 width: 20%;

 float: left;

}





